name: Scheduler

on:
  workflow_dispatch:
  schedule:
    - cron: "0 8 * * *"
  push:
    branches:
      - master

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  update-sponsors:
    runs-on: ubuntu-slim
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
            run_install: false
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.node-version'
          cache: 'pnpm'
      - run: pnpm install
      - run: pnpm run build
        env:
          SPONSORKIT_GITHUB_TOKEN: ${{ secrets.SPONSORKIT_GITHUB_TOKEN }}
          SPONSORKIT_GITHUB_LOGIN: ${{ secrets.SPONSORKIT_GITHUB_LOGIN }}
          SPONSORKIT_AFDIAN_USER_ID: ${{ secrets.SPONSORKIT_AFDIAN_USER_ID }}
          SPONSORKIT_AFDIAN_TOKEN: ${{ secrets.SPONSORKIT_AFDIAN_TOKEN }}
      # - name: List files
      #   run: ls -l public
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GIT_DEPLOY_TOKEN }}
          user_name: ${{ secrets.GIT_DEPLOY_USER }}
          user_email: ${{ secrets.GIT_DEPLOY_EMAIL }}
          publish_branch: gh-pages
          publish_dir: public
          exclude_assets: '.cache.json'
          cname: sponsor.cdn.skk.moe
